.lightmode {
 /* display: flex; */
 background-color: rgb(212, 208, 208);
 width: 100vw;
 height: 100vw;
 
}
.darkmode{
  /* display: flex; */
  background-color: #556161;
  width: 100vw;
 height: 100vw;
  
}
.parrafos{
  display: flex;
}
.parra1{
  padding: 2vw;
}
.titulo{
  font-size: 2vw;
  padding: 2vw 0vw 0vw 2vw;
}
.inp{
  width: 95vw;
  height: 2vw;
  margin-bottom: 1vw;

}
.inputs{
  text-align: center;
}
.buttons{
  text-align: right;
  margin-right:4vw ;

 
}
.buttons button{
  margin-left:0.5vw ;
  width: 5vw;
  height: 2.6vw;
  border-radius: 5px;
 
}
.save{
  background-color: #92f3c6;
}
.exit{
  background-color: #ee9db5;
}
.imagen{
  text-align: right;
  margin-right: 5vw;

}
.imagen img{
  width: 3vw;
  margin-left: 5vw;
}